*{
    text-align: center;
}
p{
    color: forestgreen;
    font-size: 32px;
}
.head{
    font-style: italic;
    color: brown;
}
span{
    font-size: 50px;
    display: block;
    border:20px darkblue;
    box-sizing: border-box;
    color: darkmagenta;
    background-color: yellow;
}